<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<!--    <footer class="footer row" th:fragment="footer">-->
<!--        <ul class="col-2">-->
<!--            <li class="footList main">About Us</li>-->
<!--            <li class="footList">Our Company</li>-->
<!--            <li class="footList">Investor Relations</li>-->
<!--            <li class="footList">Press Center</li>-->
<!--        </ul>-->
<!--        <ul class="col-2">-->
<!--            <li class="footList main">For Business</li>-->
<!--            <li class="footList">Office Coffee</li>-->
<!--            <li class="footList">Food Service</li>-->
<!--            <li class="footList">Suppliers</li>-->
<!--        </ul>-->
<!--        <ul class="col-2">-->
<!--            <li class="footList main">Quick Links</li>-->
<!--            <li class="footList">My Account</li>-->
<!--            <li class="footList">Store Locator</li>-->
<!--            <li class="footList">Nutrition Info</li>-->
<!--        </ul>-->
<!--        <ul class="col-3">-->
<!--            <li class="footList main">Career</li>-->
<!--            <li class="footList">College Plan</li>-->
<!--            <li class="footList">Corporate Career</li>-->
<!--            <li class="footList">Manufacturing and Distribution</li>-->
<!--        </ul>-->
<!--    </footer>-->
</body>
</html>